/* Main section */
main {
  max-width: 840px;
  margin: 0 auto;
  padding: 1rem;
}

/* Aside section */
aside {
  width: 20rem;
  margin: 1rem auto;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

/* Images inside aside */
aside img {
  width: 200px;
  height: auto;
}

/* Profile image in main */
main img {
  width: 150px;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

/* Paragraphs */
p {
  padding: 0;
}

/* Footer */
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  padding-top: 0.5rem;
}

